<ul>
    {{#each products}}
        <li>
            <h3>{{this.name}}</h3>
            <p>{{this.description}}</p>
            <p>{{this.price}}</p>
            <p>{{this.quantity}}</p>
            <p>{{this.total}}</p>
        </li>
    {{/each}}
</ul>